html,
body {
  height: 100%;
  background-image: url(/image/2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  border-color: #5c8984;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="text"]:hover,
.form-signin input[type="email"]:hover,
.form-signin input[type="password"]:hover {
  border-color: #b5c99a;
}
h1 {
  color: #5c8984;
}
.showBtn {
  background-color: #b5c99a;
  border-radius: 2px #5c8984;
}
.showBtn:hover,
:checked {
  background-color: #5c8984;
}

/* successfull page style */
.display-4 {
  padding: 50px 20px 20px 30px;
}
.lead {
  padding: 10px 20px 20px 30px;
}
