html,
body {
  height: 100%;
}

body {
  background: url(/image/2.jpg) center center / cover no-repeat;
}

.container {
  backdrop-filter: blur(30px);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: auto;
}

.form-signin {
  max-width: 350px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  border-color: #5c8984;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

form input:focus {
  background-color: transparent;
}
.form-signin input[type="text"]:hover,
.form-signin input[type="email"]:hover,
.form-signin input[type="password"]:hover {
  border-color: #b5c99a;
}
h1 {
  color: #191919;
}
.showBtn {
  background-color: #fbe5e5;
  color: #f94892;
  border-radius: 10px;
  border-color: #f94892;
  width: 150px;
}
.showBtn:hover,
:checked {
  border-color: #f94892;
  background-color: #f94892;
}

/* successfull page style */
.display-4 {
  padding: 50px 20px 20px 30px;
}
